<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.newtohk">

    <queries tools:node="remove" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REANPHONESTATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESSCOARSELOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:requestLegacyExternalStorage="true" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESSFINELOCATION" />

    <application
        android:name="ShuJuKu.QuanJU"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.example.newtohk.haopin"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.newtohk.HaoPinActivity"
            android:exported="false"
            android:label="@string/title_activity_hao_pin"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBCNycEID-BfQCZKekVRZXJnasnPUH2mks" />



        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/network_security_config" />

        <activity
            android:name="com.example.newtohk.userActivity"
            android:exported="true"> <!-- 个人中心界面 -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.newtohk.ZhuYeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 主页界面 -->
        <activity android:name="com.example.newtohk.YanZhengMaActivity" /> <!-- 验证码输入界面 -->
        <activity android:name="com.example.newtohk.MainActivity" /> <!-- 登录界面 -->
        <activity android:name="com.example.newtohk.registActivity" /> <!-- 注册界面 -->
        <activity android:name="com.example.newtohk.XiuGaiMiMaActivity" /> <!-- 修改密码界面 -->
        <activity android:name="com.example.newtohk.WangJiMiMaActivity" /> <!-- 忘记密码界面 -->
        <activity android:name="com.example.newtohk.WoDeTieZiActivity" /> <!-- 我的帖子界面 -->
        <activity android:name="com.example.newtohk.WoDePinLunActivity" /> <!-- 我的評論界面 -->
        <activity android:name="com.example.newtohk.GuanYuActivity" /> <!-- 关于我们界面 -->
        <activity android:name="com.example.newtohk.BanBenActivity" /> <!-- 软件版本界面 -->
        <activity android:name="com.example.newtohk.YinSiActivity" /> <!-- 隐私协议界面 -->
        <activity android:name="com.example.newtohk.HELPActivity" /> <!-- 帮助界面 -->
        <activity android:name="com.example.newtohk.TianQiActivity" /> <!-- 天气界面 -->

        <activity android:name="com.example.newtohk.FaTieAcivity" /> <!-- 发帖界面 -->
        <activity android:name="com.example.newtohk.TieZiXiangQinActivity" /> <!-- 帖子详情界面 -->
        <activity
            android:name="com.example.newtohk.chinesefoodexample"
            android:exported="false" />
        <activity
            android:name="com.example.newtohk.localfoodexample"
            android:exported="false" />
        <activity
            android:name="com.example.newtohk.localfoodlist"
            android:exported="false" />
        <activity
            android:name="com.example.newtohk.southeastfood"
            android:exported="false" />
        <activity
            android:name="com.example.newtohk.jkfood"
            android:exported="false" />
        <activity
            android:name="com.example.newtohk.westfood"
            android:exported="false" />
        <activity
            android:name="com.example.newtohk.chinesefood"
            android:exported="false" />
        <activity
            android:name="com.example.newtohk.Foodlist"
            android:exported="true" />
        <activity
            android:name="com.example.newtohk.hikinglistexample"
            android:exported="false" />
        <activity
            android:name="com.example.newtohk.parklistexample"
            android:exported="false" />
        <activity
            android:name="com.example.newtohk.scenerylist"
            android:exported="false" />
        <activity
            android:name="com.example.newtohk.islandlist"
            android:exported="false" />
        <activity
            android:name="com.example.newtohk.hikinglist"
            android:exported="false" />
        <activity
            android:name="com.example.newtohk.parklist"
            android:exported="false" />
        <activity
            android:name="com.example.newtohk.playlist"
            android:exported="true" />
        <activity
            android:name="com.example.newtohk.DetailActivity"
            android:parentActivityName="com.example.newtohk.NewActivity" />
        <activity
            android:name="com.example.newtohk.NewActivity"
            android:exported="true" />
        <activity
            android:name="com.example.newtohk.TransActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBCNycEID-BfQCZKekVRZXJnasnPUH2mks" />

        <activity
            android:name="com.example.newtohk.MapActivity"
            android:exported="true" />
        <activity
            android:name="com.example.newtohk.hse"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.newtohk.hku1"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.newtohk.lingnan1"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.newtohk.hkbu1"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.newtohk.eduhk1"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.newtohk.polyu1"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.newtohk.cityu1"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.newtohk.cuhk1"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.newtohk.hkust1"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.newtohk.roomrentActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.feige.pickphoto.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>